<h1> Edit Timesheet </h1>

<div class='static_details'>
	<div class='employee'> <%= @timesheet.employee.full_name %> </div>
	<div class='pay_period'> <%= @timesheet.pay_period.end_date %> </div>
</div>

<%= form_with model: @timesheet do |form| %>
	
	<% @timesheet.work_entries.each do |work_entry| %>

		<div class="work_entry">
			<%= form.text_field :project %>
			<%= form.text_field :start_time %>
			<%= form.text_field :end_time %>
		</div>

	<% end %>

<% end %>
